@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/* font-family: 'Poppins', sans-serif; */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.posts{
    width: 100%;
    max-width:1200px;
    margin: 0 auto;
    overflow: hidden;
    
}
.post{
    width: 30%;
    margin: 10px;
    background: rgb(231, 231, 231);
    border: 1px solid #000;
    border-radius: 6px;
    overflow: hidden;
    float:left;
}
.post img{
    width: 100%;
    height: 100%;
}
.post h2,p{
    padding:10px 20px;
}
@media (max-width:980px){
    .post{
        width: 47%;
        margin:10px;
    }
}
@media (max-width:768px){
    .post{
        width: 97%;
        margin:10px;
    }
}

